# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
.venv/
env/
venv/

# Flask instance folder
instance/

# Flask config
*.log
*.db

# VS Code settings folder
.vscode/

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db

# IDE and editor settings
.idea/
*.swp

# Python packaging
*.egg
*.egg-info/
dist/
build/
pip-wheel-metadata/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/